dag {
    enabled = true
    file = "reports/dag.dot"
}

docker {
    enabled = true
    runOptions = "--entrypoint ''"
}

process {
    withName: indexing {
        container = "evolbioinfo/bwa:v0.7.17"
    }
}

process {
    withName: mapping {
        container = "evolbioinfo/bwa:v0.7.17"
    }
}

process {
    withName: samToBam {
        container = "evolbioinfo/samtools:v1.11"
    }
}

process {
    withName: callSNP {
        container = "evolbioinfo/ivar:v1.3.1"
    }
}

process {
    withName: consensus {
        container = "evolbioinfo/ivar:v1.3.1"
    }
}